<div class="container-fluid">
  <div class="row my-3">
    <div class="col-lg-10">
      <table class="table table-borderd">
        <thead>
          <tr>
            <th>スタイル一覧</th>
            <th><%= link_to "スタイル編集", new_user_style_path(current_user), class: "fas fa-edit fa-2x" %></th>
          </tr>
        </thead>
        <tbody>
          <% @styles.each do |style| %>
            <tr>
              <td>
                <%= link_to style.name, user_style_path(@user, style) %>
                <span class="badge badge-primary badge-pill"><%= style.items.count %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
