/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

$item_color: lightskyblue;
// #87CEFA
$category_color: powderblue;
// #B0E0E6
$style_color: palegreen;
// #98FB98
$review_color: plum;
// #DDA0DD
$reitem_color: lightcyan;
// #E0FFFF
$bookmark_color: lavender;
// #E6E6FA


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 5px;
  &.review{
      background-color: rgba(255,255,255,0.7);
      background-blend-mode: lighten;
      }
}

body {
  background-image: image-url('mycloset.jpg');
  background-position: center center;
  // 画像を常に天地左右の中央に配置
  background-repeat: no-repeat;
  // 画像を繰り返し表示しない
  background-size: cover;
  // コンテナの大きさに背景画像を調整
  background-attachment: fixed;
  // コンテンツの高さが画像の高さより大きい時、動かないように固定
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
  // 透過度0.3の白でやや背景を明るく
}

table{
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
}

p {
  margin: 0px;
  padding: 2px;

  &.item {
    background: $item_color;
  }

  &.category {
    background: $category_color;
  }

  &.style {
    background: $style_color;
  }

  &.review {
    background: $review_color;
  }

  &.reitem {
    background: $reitem_color;
  }

  &.bookmark {
    background: $bookmark_color;
  }

}

.img{
  height: 500px;
  width : 100%;
}

.link_btn{
  text-decoration: none;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.nav-link{
  color: #330000;
}


.nav-item-content {
  white-space: nowrap;
}

