<div class="container-fluid">
  <div class="row my-3">
    <div class="col-lg-10">
      <table class="table table-borderd">
        <thead>
          <tr>
            <th>カテゴリー一覧</th>
            <th><%= link_to "登録", edit_user_category_path, class: "fas fa-edit fa-2x" %></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td>
                <%= link_to category.name, user_category_path(category) %>
                <span class="badge badge-primary badge-pill"><%= category.items.count %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
