<% if review.favorited_by?(current_user) %>
  <p>
    <%= link_to user_item_review_favorites_path(review.user_id, review.item_id, review), method: :delete, remote: true, class: 'text-danger' do %>
      ♥<%= review.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to user_item_review_favorites_path(review.user_id, review.item_id, review), method: :post, remote: true do %>
      ♥<%= review.favorites.count %>
    <% end %>
  </p>
<% end %>